*{
    margin: 0;
    padding: 0;
   
}
body{
    overflow-x: hidden;
}
.cursor{
    width: 7vw;
    height: 7vw;
    background-color: orangered;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}
.page1{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(0, 0, 0, 0.513);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.674);
}
.page1 h1{
    font-size: 20vw;
    color: white;
    font-weight: 600;
}
.main video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw;
    font-family: "Montserrat", sans-serif;
}
nav h3{
    color: white;
    font-size: 2vw;
    font-weight: 250;
}

/*  Page 2  */

.topP2{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 8vw ;
    font-family: "Montserrat", sans-serif;
}
.topP2 h3{
    font-size: 1.5vw;
}
.p2line{
    width: 90vw;
    margin: 0 auto;
    position: relative;
    bottom: 7vw;
}
.botp2 {
    display: flex;
    justify-content: center;
    position: relative;
}
.botp2 h3{
    position: relative;
    bottom: 5.5vw;
    font-size: 3vw;
    width: 85vw;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}


/* page 3 */ 
.p3top{
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.p3top h2{
    font-weight: 400;
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
}
.p3top h2 span {
    background-color: black;
    padding: 0.2vw 0.7vw;
    border-radius: 10px;
    color: white;
    font-size: 1.2vw;
}
.p3top h1{
    font-weight: 600;
    font-size:3.5vw ;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.p3top a {
    
    color: black;
}
.tb3 h3{
    font-size: 1.5vw;
}
.tb3{
    display: flex;
    justify-content: space-between;
    padding: 12vw 4vw;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
}
.bb3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    transition: all ease 1s;
}
.box{
    position: relative;
    bottom: 11vw;
}
.box:hover img{
    opacity: 0;
}
.bb3 video,img {
    width: 30vw;
    height: 35vw;
    object-fit: cover;
}
.bb3 video{
    position: relative;
}
.bb3 img{
    z-index: 9;
    position: absolute;
}